{% extends 'base.html' %}
{% block title %}Stock{% endblock %}
{%block links %}
<link rel="stylesheet" href="../static/css/stock.css">{% endblock %}

{% block content %}
<div class="container">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary mt-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Add Stock
      </button>

      <!-- Modal -->
      <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="add_stock" method="post">
                <div>
                  <div class="mb-3">
                    <select class="form-select" aria-label="Default select example" name="pid">

                      <option selected>Select a product</option>
                      {% for product in products %}
                      <option value="{{product[0]}}">{{product[1]}}</option>
                      {% endfor %}

                    </select>
                  </div>
                </div>
                <div class="mb-3">
                  <label for="sq" class="form-label">Stock Quantity</label>
                  <input name="stock_quantity" type="number" class="form-control" id="sq" />
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" dafs-dismiss="modal">
                    Close
                  </button>
                  <button type="submit" class="btn btn-primary">Add stock</button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
    <table id="stockTable" class="table table-striped">
      <thead>
        <tr>
          <th>stock _Id</th>
          <th>Product Id</th>
          <th>Stock Quantity</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        {% for stock in stock %}
        <tr>
          <td>{{stock[0]}}</td>
          <td>{{stock[1]}}</td>
          <td>{{stock[2]}}</td>
          <td>{{stock[3]}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endblock %}
{% block scripts %}
<script>
    let table = new DataTable('#stockTable');
  </script>
{% endblock %}